// Load in all fonts used for project.
// font-family: 'Rubik'
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700');

$font-heading: 'Rubik', sans-serif;
$font-body: 'Rubik', sans-serif;

body {
  font-size: 62.5%;
}

// Mixin used to set a base color for all content within this element.
@mixin color-content($color) {
  color: $color;
  h1, h2, h3, h4, h5, h6, p, span {
    color: $color;
  }
}

// Set up base fonts for all elements.
h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  font-size: 2rem;
  margin: 0;
}

body, p, button {
  font-family: $font-heading;
  font-weight: 600;
}

p {
  font-size: 1rem;
}
